<div class="grid grid-cols-[auto_1fr] h-full">
  <div class="bg-[#00695c]"></div>
  <div class="grid grid-rows-[auto_1fr]">
    <div class="h-20 p-4 bg-[#00695c] flex justify-between items-center">
      <div>
        @if(startTimestamp$() && endTimestamp$()) {
        <h1 class="text-2xl text-white">
          Period {{ startTimestamp$() }} - {{ endTimestamp$() }}
        </h1>
        }
      </div>

      <button mat-raised-button [color]="'red'" (click)="fileInput.click()">
        Import
        <input type="file" hidden (change)="onFileChange($event)" #fileInput />
      </button>
    </div>
    <!-- content -->
    <div>
      <div
        class="p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
      >
        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Signal</h2>
          <div class="h-full flex justify-center">
            <app-progress-bar
              [value$]="currentCellularSignal$()"
              [max$]="cellularSignalMax$()"
            ></app-progress-bar>
          </div>
        </div>

        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Air Filter Load Percent</h2>
          <div class="flex justify-center">
            <app-radial-progress
              [half$]="true"
              [max$]="airLoadPercentMax$()"
              [value$]="currentAirLoadPercent$()"
            ></app-radial-progress>
          </div>
        </div>

        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Air Filter RUL</h2>
          <div class="h-full flex justify-center">
            <app-progress-bar
              [value$]="currentAirRuleHours$()"
              [max$]="airRuleHoursMax$()"
            ></app-progress-bar>
          </div>
        </div>

        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Air Filter Differential pressure</h2>

          <app-progress-bar
            [horizontal$]="true"
            [value$]="currentAirRuleHours$()"
            [max$]="airRuleHoursMax$()"
          ></app-progress-bar>
        </div>

        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Engine Speed (RPM)</h2>
          <div class="flex justify-center">
            <app-radial-progress
              [half$]="true"
              [max$]="engineSpeedRPMMax$()"
              [value$]="currentEngineSpeedRPM$()"
            ></app-radial-progress>
          </div>
        </div>
        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Fuel Rate (L/h)</h2>
          <div class="flex justify-center">
            <app-radial-progress
              [half$]="true"
              [max$]="fuelFlowRateMax$()"
              [value$]="currentFuelFlowRate$()"
            ></app-radial-progress>
          </div>
        </div>

        <!-- exhaust gas -->

        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Exhaust Gas Mass Flow</h2>
          <div class="flex justify-center">
            <app-radial-progress
              [half$]="true"
              [max$]="egmfMax$()"
              [value$]="currentEgmf$()"
            ></app-radial-progress>
          </div>
        </div>

        <!-- Engine percent torque -->

        <div
          class="border rounded-md p-4 flex flex-col justify-center gap-4 shadow-xl"
        >
          <h2 class="text-center">Engine Percent Torque</h2>
          <div class="flex justify-center">
            <app-radial-progress
              [half$]="true"
              [max$]="enginePercentTorqueMax$()"
              [value$]="currentEnginePercentTorque$()"
            ></app-radial-progress>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-full justify-center items-center">
      <div class="w-96">
        <mat-slider [min]="0" [max]="timestamps$().length - 1">
          <input
            matSliderThumb
            [value]="currentTimestampIndex$()"
            (change)="onTrackChange($event)"
          />
        </mat-slider>
      </div>
      <div class="flex justify-center">
        {{ currentTimestamp$() }}
      </div>
      <div class="flex justify-center">
        @if(!isPlaying$()){
        <button (click)="isPlaying$.set(true)" mat-flat-button>Play</button>
        } @else {
        <button (click)="isPlaying$.set(false)" mat-flat-button>Stop</button>
        }
      </div>
    </div>
  </div>
</div>
